section.about
            .container
              .about__columns
                .about__user
                  .user
                    .user__avatar
                      .user__avatar-wrapper
                        +image('content/user.jpg', 'user__avatar-pic')
                    .user__about
                      -  var userinfo = [ ['Проживаю:', "Москва"],  ['Возраст:', "30 лет"], ['Родился:', "9 сентября 1989"], ];
                      table.user__table
                        each item in userinfo
                          tr
                            td.user__table-title #{item[0]}
                            td.user__table-content #{item[1]}
                .about__user-text
                  .about__main-text-content
                    .about__desc Привет, меня зовут
                    .about__title Андрей Князев 
                    .about__text-info
                      p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                  .about__ps
                    | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
