include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .welcome-section
          include templates/components/parallax.pug
          include templates/components/hero.pug
          include templates/components/about.pug 
          include templates/components/triangles-top.pug 
        .middle-section
          include templates/components/values.pug 
          section.works
            .container.works__container
              .section-title.works__section-title Мои работы
              .works__content
                #works-slider-component

          include templates/components/triangles-bottom.pug 
          include templates/components/contacts.pug 
      include ./templates/components/footer.pug 
    include ./templates/entry.pug